body {
  margin: 0px;
  color: #ffff;
  font-family: "Roboto", serif;
}

h1,
h2,
h3 {
  margin: 0px;
}

.header-container {
  display: flex;
  max-width: 1200px;
  gap: 32px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: center;
  justify-content: space-between;
}

.header-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.header-container a {
  color: #000000;
  font-size: 1.125rem;
  padding: 20px 0px;
  line-height: auto;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
}

.header-container a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #1868e0;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-container a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-container {
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }

  .menu a {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 20px;
  }
  .header-container a:hover:after {
    display: none;
  }
}
