.serviços-conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px;
  justify-content: center;
}

.serviços-conteudo img {
  max-width: 500px;
  display: block;
}

.serviços-feitos h2 {
  padding-left: 80px;
  line-height: 40px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

.serviços-feitos p {
  padding-left: 80px;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 25px;
  color: #595959;
  max-width: 350px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.serviços-feitos a {
  justify-content: center;
  margin-left: 100px;
  background: #1868e0;
  padding: 10px 80px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 800px) {
  .serviços-feitos {
    padding: 10px;
    max-width: 1200px;
  }
  .serviços-feitos a {
    padding: 10px 30px;
  }
  .serviços-conteudo {
    justify-content: flex-end;
    margin: 0px;
    padding-right: 10px;
    padding-top: 10px;
  }
}
