.trabalhos {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  padding: 200px;
}

.trabalhos-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 500px;
  justify-content: flex-start;
}

.trabalhos-titulo {
  font-style: bold;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.trabalhos-p {
  font-family: "Roboto", serif;
  font-size: 15px;
  color: #9c9c9c;
  max-width: 300px;
}

.trabalhos-feitos {
  max-height: 200px;
  padding: 100px;
  border-radius: 5px;
  margin: 0 auto;
  justify-content: center;
}

.trabalhos-habilidades li {
  background-color: #1868e0;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}

.imagem-trabalhos {
  margin-top: 200px;
}
