.trabalhos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 40px 20px;
  align-items: center;
}

.trabalhos-serviço {
  background: #f7f7f7;
  border-radius: 5px;
  margin-top: 100px;
  max-width: 400px;
  padding: 30px;
  margin-bottom: 20px;
}

.trabalhos-container img {
  align-content: center;
  margin: 0 auto;
}

.trabalhos-serviço h3 {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  font-family: "Poppins", serif;
}

.trabalhos-serviço p {
  color: #9c9c9c;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
