.trabalhos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.trabalhos-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.trabalhos-titulo {
  font-style: bold;
  color: black;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.trabalhos-p {
  font-family: "Roboto", serif;
  font-size: 15px;
  color: #9c9c9c;
  max-width: 300px;
}

.trabalhos-feitos {
  background-color: #fdfbfb;
  max-width: 400px;
  margin: 40px;
  padding: 30px;
  border-radius: 5px;
}

.trabalhos-habilidades li {
  background-color: #1868e0;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}
