.trabalhos-feitos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.trabalhos-feitos h3 {
  font-size: 25px;
  padding-bottom: 10px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 50px;
}

.trabalhos-feitos p {
  font-size: 15px;
  color: #b3b3b3;
  font-family: "Roboto", serif;
  margin-bottom: 25px;
}

.trabalhos-conteudo {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 5px;
  gap: 10px 20px;
}

.trabalhos-conteudo a {
  margin-top: 100px;
  background: #1868e0;
  color: #f7f7f7;
  padding: 10px 30px;
  font-family: "Roboto", serif;
  margin-top: 40px;
  border-radius: 5px;
  text-decoration: none;
}

.trabalhos-feitos img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding-top: 150px;
}
