.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
  padding-top: 200px;
}
